<nav class="top-nav">
    <ul class="top-nav-list">
        <li class="nav-left"><a id="dashboard-link" href="/view/dashboard.html">Dashboard</a></li>
        <li class="nav-center">
            <a href="/view/dashboard.html" aria-label="PeerGo Home">
                <span class="nav-logo" aria-hidden="true"></span>
            </a>
        </li>
        <li class="nav-links">
            <a id="delivery-link" href="/view/delivery.html">Errands</a>
            <a id="add-link" href="/view/add.html">Post</a>
            <a id="account-link" href="/view/account.html">Account</a>
            <a id="logout-link" href="/view/index.html">Logout</a>
        </li>
    </ul>
</nav>