* {
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(70, 48, 102);
    --primary-light: #6f42c1;
    --bg-color: white;
    --bg-light: #f2ecfa;
    --text-dark: black;
    --text-light:white;
    
}

.dark-mode {
    --bg-color:#121212;
    --bg-light: #1e1e1e;
    --text-dark: white;
}


body {
    margin: 0;
    color: var(--text-dark);
    background-color: var(--bg-color);
    font-size: 16px;
    font-family: "Quatro", sans-serif;
    line-height: 1.6;
}


h1, h2 {
    color:var(--primary-color);
    margin-bottom: 12px;
}


button {
    padding: 10px 16px;
    background-color: var(--primary-color);
    color: var(--text-light);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color:var(--primary-light)
}


input, select {
    margin-bottom: 10px;
    padding: 8px 10px;
    color: var(--text-dark);
    background: var(--bg-color);
    border: 1px solid var(--text-dark / 20%);
    border-radius: 4px;
    width: 100%;
}


table {
    color: var(--text-dark);
    background-color: var(--bg-light);
    border-collapse: collapse;
    width: 100%;
}

th {
    padding: 10px;
    color: var(--text-light);
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--text-dark / 20%);
}

td {
    padding: 10px;
    color: var(--text-dark);
    border-bottom: 1px solid var(--text-dark / 20%);
}

ul, ol {
    padding-left: 20px;
    margin-bottom: 20px;
}

ul li, ol li {
    margin-bottom: 6px;
}


main {
    margin: 0 auto;
    padding: 24px;
    max-width: 1200px;
}


header{
    padding: 16px;
    text-align: center;
}


footer {
    margin: 40px 0;
    padding: 20px;
    text-align: center;
    background-color: var(--primary-light);
    color: white;
}


nav {
    padding: 12px 24px;
    background-color: var(--primary-light);    
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img{
    height: 40px;
    width: auto;
}


#filter-section {
    margin: 24px 0;
    padding: 20px;
    background-color: var(--bg-light);
    border-radius: 4px;
}
